@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* .container {
    background-color: aliceblue;
    width: 870px;
} */

.container1 {
    display: flex;
    background-color: aliceblue;
    width: 870px;
}

/* ------------
Banner Section
-------------- */
.sec-1 {
    display: flex;
    background-color: black;
    border: 1px solid;
    border-radius: 15px;
    margin: 40px 0 60px 50px;
    position: absolute;
    width: 125vh;
}

.bg h1 {
    color: white;
    width: 500px;
    margin-left: 50px;
    padding-top: 30px;
    font-size: 40px;
}

.bg p {
    color: white;
    margin-left: 50px;
    font-size: 15px;
}

.bg img {
    padding: 0 0 0 10px;
    margin: 50px 0 0 35px;
}

.bg a {
    margin-left: 50px;
    border: 2px solid rgba(247, 211, 11, 0.877);
    border-radius: 10px;
    background-color: rgba(247, 211, 11, 0.877);
    text-decoration: none;
    padding: 10px;
}

.bg a:hover {
    border: 3px solid rgb(236, 147, 31);
}


/*------------
Upcoming watch and grid section
 -------------*/
.sec-2 {
    margin-top: 55%;
}

#links {
    list-style: none;
    margin-left: 50px;
    border: 1px solid black;
    background-color: black;
    border-radius: 10px;
    width: 200px;
    height: 240px;
}

#links a:hover {
    border: 3px solid sandybrown;
}

.link1-2 {
    display: grid;
    border: 1px solid;
    background-color: aliceblue;
    border-radius: 10px;
    margin: 30px;
    padding: 10px 5px 10px 5px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

#link3 {
    display: grid;
    border: 1px solid red;
    background: red;
    color: antiquewhite;
    border-radius: 10px;
    margin: 30px;
    padding: 10px 5px 10px 5px;
    text-align: center;
    cursor: pointer;

}


/* -------------
Blog part
---------------- */
.blogs {
    margin-top: -19%;
    margin-left: 260px;
    width: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.blog {
    border: 1px solid none;
    border-radius: 10px;
    box-shadow: rgba(3, 3, 3, 0.24) 0px 3px 8px;
}

.blog-upcoming {
    padding: 0 9px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.blogs .blog a {
    border: 2px solid black;
    border-radius: 5px;
    color: rgb(29, 24, 24);
    text-decoration: none;
    padding: 10px;

}

.time-duration {
    display: flex;
    align-items: center;
    padding: 5px 0 20px 0;
    color: gray;
}

.span {
    margin: 0 9px 0 9px;
}

.time-duration-upcoming {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 0 20px 0;
    color: gray;
}


/* -----------
    extra line 
    ------------ */
#sub {
    display: none;
}


/* ------------
   Footer part
   ----------- */
#footer {
    background-color: black;
    height: 30vh;
    margin-top: 2%;
    padding: 16px 16px 30px 10px;
}

#footer h2 {
    text-align: center;
    color: white;
    margin-left: 10px;
    margin-top: 34px;
    font-size: 40px;
}

#footer hr {
    margin-left: 100px;
    margin-right: 100px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

#footer div ul {
    color: white;
    list-style: none;
    cursor: pointer;
    text-align: center;
}

#footer div ul li {
    display: inline-block;
    padding: 20px;

}

#footer div ul li a {
    color: white;
}


/* ---------------
   For Mobile View 
   ----------------*/

@media only screen and (max-width:688px) {
    body,html{
        overflow-x:hidden;
        width: 100%;
    }
    .sec-1 {
        display: flex;
        flex-direction: column;
        margin: 10px 0 0 0;
        width: 100%;
    }

    .bg p {
        text-align: center;

    }

    .bg h1 {
        margin-left: 3em;
    }

    .bg a {
        margin: 0 0 0 210px;
    }

    .bg img {
        margin: 50px 0 0 100px;
    }

    .sec-2 {
        flex-direction: column;
        margin-top: 90%;
        margin-left: 15%;
        height: 10px;
        border: none;
    }

    #links {
        border: 0;
        background-color: white;
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 5%;
        margin-top: 55%;
        width: 100%;
    }

    #footer {
        margin-top: 10%;
        width: 100%;
        height: 150vw;
    }

    #footer div ul li {
        display: grid;
        padding: 20px 20px 20px 0;
    }

    .icons {
        display: flex;
        justify-content: space-evenly;
    }
}


/* ---------------
    Tab View
    ------------- */
@media only screen and (min-width:689px) and (max-width:992px) {
    body,html{
        overflow-x:hidden;
        width: 100%;
    }
    .sec-1 {
        width: 100%;
    }

    .sec-2 {
        margin-top: 55%;
        height: 5px;
    }

    #links {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100px;
        margin-left: 25%;
        border: 0;
        background-color: white;
        column-gap: 50px;
        ;

    }

    #links a {
        margin: 20px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        font-size: 25px;
    }

    .blogs {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 20px;
        margin-top: 15%;
        width: 100%;
    }

    .for-tab-view {
        width: 100%;
    }

    .last-article {
        display: none;
    }

    #sub{
        display: block;
        margin-left: 50%;
        border: 2px solid;
        border-radius: 8px;
        padding: 10px;
        background-color: red;
        color: white;
    }
}