body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
  }
  .container{
    background-color: black;
    text-align: initial;
    border-radius: 10px;
    margin: 50px 50px 60px 60px;
    color: aliceblue;
    display: flex;
    font-size: 30px;
    height: 500px;


  }
  .header{
    justify-content: left;
    margin-top: 25px;
    margin-left: 50px;
  }
  .container-top-banner{
    align-content: flex-end;
    justify-content: right;
  }
  .button{
    border-radius: 3px;
    background-color: red;
    color: aliceblue;
    font-size: 15px;
    height: 20px;
  
  }
  .txt{
    font-size: small;
  }
  